body {
  font-family: times;
  font-size: 21px;
  line-height: 1.2;
  margin: 30px;
}

h1 {
  font-size: 1em;
}

h1 a {
  border: none;
}

a {
  color: black;
  border-bottom: 1px solid black;
  text-decoration: none;
}

.newfont {
font-family: arial;
font-size: 10px;
text-transform: uppercase;
}

.title {
border-bottom: 1px solid;
padding-bottom: 2px;
margin-left: 0px;
}

.title-block,
.about-block,
.content-block {
  margin: 1em 0 0 1em;
}

.title {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

.dottedline {
    border-bottom: 1px dotted Black;
}


img {
  vertical-align:top;
}

.picture-group {
width: 680px;
float: left;
}

.caption {
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-left: 1em;
}

.index {
  line-height: 1.9;
}
